@import "~bootstrap/scss/bootstrap";
@import "./time.scss";

* {
  margin: 0;
  font-family: "geomanist", "helvetica";
}

html,
body {
  height: 100% !important;
  overflow-x: hidden;
}

.root {
  height: 100%;
  min-height: 100% !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

.btn {
  font-size: 20px;
  box-shadow: 10px 10px 30px 1px #f2f2f2;
}
.btn:hover {
  box-shadow: 10px 10px 30px 1px #dbd7d7;
}

@media (min-width: 768px) {
  .btn {
    font-size: 30px;
  }
}
